<div class="ui large inverted top fixed hidden menu">
  <div class="header item"><img src="../../../assets/myLogoTH.png"></div>
  <a class="ui item" [href]="resumeDownloadLink">
    <div class="ui icon" data-tooltip="Download CV" data-position="bottom left">
      <i class="download icon" style="color: #0073af;"></i>
    </div>
  </a>
  <div class="right menu">
    <a [href]="LinkedinLink" class="ui item" target="_blank">
      <div class="ui icon" data-tooltip="View LinkedIn Page" data-position="bottom center">
        <i class="linkedin icon" style="color: #0073af;"></i>
      </div>
    </a>
    <a [href]="GithubLink" class="ui item" target="_blank">
      <div class="ui icon" data-tooltip="View Github Page" data-position="bottom center">
        <i class="github icon" style="color: white;"></i>
      </div>
    </a>
    <a [href]="TwitterLink" class="ui item" target="_blank" style="color: #01a7e5;">
      <div class="ui icon" data-tooltip="View Twitter Page" data-position="left center">
        <i class="twitter icon"></i>
      </div>
    </a>
  </div>
</div>
